/* Import Fonts (Lato and Nunito) */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap');

* {
    font-family: 'Raleway';
}

body {
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif; */
    font-family: 'Raleway';
    height: 100%;
    background-color: #c3c7c7;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23ca481d' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    width: 100%;
    height: 95vh;
    max-width: 1000px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 250px;
    overflow: auto;
    background-color: #c3c7c7;
    padding: 42px;
    border-radius: 8px 0 0 8px;
}

.sidebar::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5;
}

.sidebar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #0000004d;
    border-radius: 10px;
    background-color: #f5f5f5;
}

.sidebar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px #0000004d;
    background-color: #555;
}

.main-view {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 42px;
    overflow: auto;
    border-radius: 0 8px 8px 0;
    background: white;
}

.main-view::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5;
}

.main-view::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #0000004d;
    border-radius: 10px;
    background-color: #f5f5f5;
}

.main-view::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px #0000004d;
    background-color: #555;
}

.card {
    box-shadow: 0 4px 8px 0 #00000033;
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    margin-bottom: 25px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 #00000033;
}

/* Add rounded corners to the top left and the top right corner of the image */
.card-img {
    border-radius: 5px 5px 0 0;
    width: 100%;
    cursor: pointer;
}

/* Add some padding inside the card container */
.title {
  padding: 2px 16px;
}

.youtube-card {
    display: flex;
    box-shadow: 0 4px 8px 0 #00000033;
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    margin-top: 25px;
    max-width: fit-content;
}

.youtube-img {
    width: 25%;
}

.content {
    text-align: left;
    padding-left: 10px;
    margin-bottom: 5px;
}

.video-player .video-iframe {
    width: 100%;
    height: 500px;
    border: solid 10px #7e7e7ed8;
    box-shadow: 0 4px 8px 0 #00000033;
    border-radius: 8px;
}

.form input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 70%;
    background: #f1f1f1;
    outline: none;
}

.form select {
    float: left;
    width: 10%;
    padding: 10px;
    background: #f1f1f1;
    color: black;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
}

.form button {
    float: left;
    width: 10%;
    padding: 10px;
    background: #c3c7c7;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-size: 20px;
    width: 100%;
    height: 100%;
    max-width: fit-content;
}

/* For authentication */

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: #c3c7c7;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}
  
.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #1b1b1b;
    text-align: center;
}
  
.login-box .user-box {
    position: relative;
}
  
.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #1b1b1b;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #1b1b1b;
    outline: none;
    background: transparent;
}

.login-box form button {
    width: 100%;
    align-content: center;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #1b1b1b;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    border: #555 solid;
}

.link {
    
    text-decoration: underline;
    color: dodgerblue;
    cursor: pointer;
}
/* For Animation */
.sk-cube-grid {
  width: 80px;
  height: 80px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #ad22cb;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; 
}
.sk-cube-grid .sk-cube2 {
-webkit-animation-delay: 0.3s;
      animation-delay: 0.3s; 
}
.sk-cube-grid .sk-cube3 {
-webkit-animation-delay: 0.4s;
      animation-delay: 0.4s; 
}
.sk-cube-grid .sk-cube4 {
-webkit-animation-delay: 0.1s;
      animation-delay: 0.1s; 
}
.sk-cube-grid .sk-cube5 {
-webkit-animation-delay: 0.2s;
      animation-delay: 0.2s; 
}
.sk-cube-grid .sk-cube6 {
-webkit-animation-delay: 0.3s;
      animation-delay: 0.3s; 
}
.sk-cube-grid .sk-cube7 {
-webkit-animation-delay: 0s;
      animation-delay: 0s; 
}
.sk-cube-grid .sk-cube8 {
-webkit-animation-delay: 0.1s;
      animation-delay: 0.1s; 
}
.sk-cube-grid .sk-cube9 {
-webkit-animation-delay: 0.2s;
      animation-delay: 0.2s; 
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
  } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
  } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1);
  } 
}